################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrivateSettings.config
/ConnectionStrings.config
